#audiophile/merge
[#duct/include "duct/common/base.edn"
 #duct/include "duct/api/entities.edn"
 #duct/include "duct/api/env.edn"
 #duct/include "duct/api/repositories.edn"
 #duct/include "duct/api/routes.edn"
 #duct/include "duct/api/serdes.edn"
 #duct/include "duct/api/services.edn"
 #duct/include "duct/api/ui-components.edn"
 {[:duct/const :services.ui/env]
  {}}]
