{[:com.ben-allred.audiophile.api.services.repositories.entities.core/entity :entities/users]
 {:entities   #ig/ref :resources/entities
  :namespace  :user
  :table-name :users}

 [:com.ben-allred.audiophile.api.services.repositories.entities.core/entity :entities/projects]
 {:entities   #ig/ref :resources/entities
  :namespace  :project
  :table-name :projects}

 [:com.ben-allred.audiophile.api.services.repositories.entities.core/entity :entities/teams]
 {:entities   #ig/ref :resources/entities
  :namespace  :team
  :table-name :teams}

 [:com.ben-allred.audiophile.api.services.repositories.entities.core/entity :entities/artifacts]
 {:entities   #ig/ref :resources/entities
  :namespace  :artifact
  :table-name :artifacts}

 [:com.ben-allred.audiophile.api.services.repositories.entities.core/entities :resources/entities]
 {:tx #ig/ref :services/transactor}}
