{[:audiophile.repositories/model :models/user-events]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :event
  :table-name :user-events}

 [:audiophile.repositories/model :models/artifacts]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :artifact
  :table-name :artifacts}

 [:audiophile.repositories/model :models/comments]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :comment
  :table-name :comments}

 [:audiophile.repositories/model :models/event-types]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :event-type
  :table-name :event-types}

 [:audiophile.repositories/model :models/events]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :event
  :table-name :events}

 [:audiophile.repositories/model :models/file-versions]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :file-version
  :table-name :file-versions}

 [:audiophile.repositories/model :models/files]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :file
  :table-name :files}

 [:audiophile.repositories/model :models/projects]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :project
  :table-name :projects}

 [:audiophile.repositories/model :models/teams]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :team
  :table-name :teams}

 [:audiophile.repositories/model :models/user-teams]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :user-team
  :table-name :user-teams}

 [:audiophile.repositories/model :models/users]
 {:models     #ig/ref :audiophile.repositories/models
  :namespace  :user
  :table-name :users}

 [:audiophile.utils/ref-map :models/models]
 {:id-fn  :namespace
  :refset #ig/refset :audiophile.repositories/model}

 :audiophile.repositories/models
 {:tx #ig/ref :services/transactor}}
