{[:com.ben-allred.audiophile.api.services.repositories.common/repo :repositories/users]
 {:entity #ig/ref :entities/users
  :tx     #ig/ref :services/transactor}

 [:com.ben-allred.audiophile.api.services.repositories.common/repo :repositories/projects]
 {:entity #ig/ref :entities/projects
  :tx     #ig/ref :services/transactor}

 [:com.ben-allred.audiophile.api.services.repositories.common/repo :repositories/teams]
 {:entity #ig/ref :entities/teams
  :tx     #ig/ref :services/transactor}

 [:com.ben-allred.audiophile.api.services.repositories.common/kv-repo :repositories/files]
 {:tx       #ig/ref :com.ben-allred.audiophile.api.services.repositories.files/repo
  :kv-store #ig/ref :stores/s3}

 :com.ben-allred.audiophile.api.services.repositories.files/repo
 {:artifacts     #ig/ref :entities/artifacts
  :file-versions #ig/ref :entities/file-versions
  :files         #ig/ref :entities/files
  :tx            #ig/ref :services/transactor}

 [:com.ben-allred.audiophile.api.services.repositories.common/s3-store :stores/s3]
 {:s3-client    #ig/ref :services/s3-client
  :stream-serde #ig/ref :com.ben-allred.audiophile.api.services.resources.s3/stream-serde}

 :com.ben-allred.audiophile.api.services.resources.s3/stream-serde
 {}}
