{[:duct/const :interactors/comments]
 #ig/ref :audiophile.repositories.comments/accessor

 [:duct/const :interactors/events]
 #ig/ref :audiophile.repositories.events/accessor

 [:duct/const :interactors/files]
 #ig/ref :audiophile.repositories.files/accessor

 [:duct/const :interactors/projects]
 #ig/ref :audiophile.repositories.projects/accessor

 [:duct/const :interactors/teams]
 #ig/ref :audiophile.repositories.teams/accessor

 [:duct/const :interactors/users]
 #ig/ref :audiophile.repositories.users/accessor

 :audiophile.repositories/store
 {:client       #ig/ref :services/s3-client
  :stream-serde #ig/ref :audiophile.services.s3/stream-serde}

 :audiophile.services.s3/stream-serde
 {}

 :audiophile.repositories.comments/accessor
 {:producer #ig/ref :workflows/producer
  :repo     #ig/ref :services/transactor}

 :audiophile.repositories.events/accessor
 {:repo #ig/ref :services/transactor}

 :audiophile.repositories.files/accessor
 {:producer #ig/ref :workflows/producer
  :pubsub   #ig/ref :services/pubsub
  :repo     #ig/ref :services/transactor
  :store    #ig/ref :audiophile.repositories.files/artifact-store}

 :audiophile.repositories.projects/accessor
 {:producer #ig/ref :workflows/producer
  :repo     #ig/ref :services/transactor}

 :audiophile.repositories.teams/accessor
 {:producer #ig/ref :workflows/producer
  :repo     #ig/ref :services/transactor}

 :audiophile.repositories.users/accessor
 {:producer #ig/ref :workflows/producer
  :repo     #ig/ref :services/transactor}

 :audiophile.repositories.files/artifact-store
 {:store         #ig/ref :audiophile.repositories/store
  :max-file-size #ig/ref :env/max-file-upload-size}}
