{[:duct/const :services/repositories]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.common/repo

 [:duct/const :interactors/files]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.files.core/model

 [:duct/const :interactors/projects]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.projects.core/model

 [:duct/const :interactors/teams]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.teams.core/model

 [:duct/const :interactors/users]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.users.core/model

 [:duct/const :stores/s3]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.common/store

 :com.ben-allred.audiophile.api.services.repositories.common/repo
 {:opts {:models/artifacts     #ig/ref :models/artifacts
         :models/file-versions #ig/ref :models/file-versions
         :models/files         #ig/ref :models/files
         :models/projects      #ig/ref :models/projects
         :models/teams         #ig/ref :models/teams
         :models/user-teams    #ig/ref :models/user-teams
         :models/users         #ig/ref :models/users
         :store/kv             #ig/ref :stores/s3}
  :tx   #ig/ref :services/transactor}

 :com.ben-allred.audiophile.api.services.repositories.common/store
 {:s3-client    #ig/ref :services/s3-client
  :stream-serde #ig/ref :com.ben-allred.audiophile.api.services.resources.s3/stream-serde}

 :com.ben-allred.audiophile.api.services.resources.s3/stream-serde
 {}

 :com.ben-allred.audiophile.api.services.repositories.files.core/model
 {:repo #ig/ref :services/repositories}

 :com.ben-allred.audiophile.api.services.repositories.projects.core/model
 {:repo #ig/ref :services/repositories}

 :com.ben-allred.audiophile.api.services.repositories.teams.core/model
 {:repo #ig/ref :services/repositories}

 :com.ben-allred.audiophile.api.services.repositories.users.core/model
 {:repo #ig/ref :services/repositories}}
