{[:duct/const :routes/table#api]
 {[:get :api/artifact]       #ig/ref :res.handler/file-version#get
  [:get :api/events]         #ig/ref :api.handler/events#get
  [:get :api/file.comments]  #ig/ref :api.handler/comments#get
  [:get :api/file]           #ig/ref :api.handler/file#get
  [:get :api/profile]        #ig/ref :api.handler/user#get
  [:get :api/project.files]  #ig/ref :api.handler/project.files#get
  [:get :api/project]        #ig/ref :api.handler/project#get
  [:get :api/projects]       #ig/ref :api.handler/projects#get
  [:get :api/team]           #ig/ref :api.handler/team#get
  [:get :api/teams]          #ig/ref :api.handler/teams#get
  [:get :resources/health]   #ig/ref :res.handler/health
  [:get :ws/connection]      #ig/ref :api.handler/ws#connect
  [:post :api/artifacts]     #ig/ref :api.handler/artifacts#post
  [:post :api/comments]      #ig/ref :api.handler/comments#post
  [:post :api/file]          #ig/ref :api.handler/file#post
  [:post :api/project.files] #ig/ref :api.handler/project.files#post
  [:post :api/projects]      #ig/ref :api.handler/projects#post
  [:post :api/teams]         #ig/ref :api.handler/teams#post
  [:post :api/users]         #ig/ref :api.handler/users#post}

 [:duct/const :routes/daemon#api]
 #{#ig/ref :rabbitmq.sub/events#ws}

 [:duct/const :routes/table#auth]
 {[:get :auth/callback]    #ig/ref :audiophile.handlers.auth/callback
  [:get :auth/login]       #ig/ref :audiophile.handlers.auth/login
  [:get :auth/logout]      #ig/ref :audiophile.handlers.auth/logout
  [:get :resources/health] #ig/ref :res.handler/health}

 [:duct/const :routes/table#jobs]
 {[:get :resources/health] #ig/ref :res.handler/health}

 [:duct/const :routes/daemon#jobs]
 #{#ig/ref :rabbitmq.sub/commands#comments
   #ig/ref :rabbitmq.sub/commands#files
   #ig/ref :rabbitmq.sub/commands#projects
   #ig/ref :rabbitmq.sub/commands#teams
   #ig/ref :rabbitmq.sub/commands#users
   #ig/ref :rabbitmq.sub/events#persist}

 [:duct/const :routes/table#ui]
 {[:get :resources/css]    #ig/ref :audiophile.routes/assets
  [:get :resources/js]     #ig/ref :audiophile.routes/assets
  [:get :resources/health] #ig/ref :res.handler/health
  [:get :ui/home]          #ig/ref :audiophile.routes/ui}

 [:audiophile.spec/with-spec :api.handler/comments#get]
 {:handler #ig/ref :audiophile.handlers.comments/fetch-all
  :spec    :api.common/file-id}

 [:audiophile.spec/with-spec :api.handler/events#get]
 {:handler #ig/ref :audiophile.handlers.events/fetch-all
  :spec    :api.events/fetch-all}

 [:audiophile.spec/with-spec :api.handler/file#get]
 {:handler #ig/ref :audiophile.handlers.files/fetch
  :spec    :api.common/file-id}

 [:audiophile.spec/with-spec :res.handler/file-version#get]
 {:->response #ig/ref :audiophile.spec/ok
  :handler    #ig/ref :audiophile.handlers.files/download
  :spec       :res.version/download}

 [:audiophile.spec/with-spec :api.handler/project.files#get]
 {:handler #ig/ref :audiophile.handlers.files/fetch-all
  :spec    :api.common/project-id}

 [:audiophile.spec/with-spec :api.handler/user#get]
 {:handler #ig/ref :audiophile.handlers.users/profile
  :spec    :api.profile/fetch}

 [:audiophile.spec/with-spec :api.handler/project#get]
 {:handler #ig/ref :audiophile.handlers.projects/fetch
  :spec    :api.common/project-id}

 [:audiophile.spec/with-spec :api.handler/projects#get]
 {:handler #ig/ref :audiophile.handlers.projects/fetch-all
  :spec    :api.common/auth}

 [:audiophile.spec/with-spec :api.handler/team#get]
 {:handler #ig/ref :audiophile.handlers.teams/fetch
  :spec    :api.common/team-id}

 [:audiophile.spec/with-spec :api.handler/teams#get]
 {:handler #ig/ref :audiophile.handlers.teams/fetch-all
  :spec    :api.common/auth}

 [:audiophile.spec/with-spec :api.handler/ws#connect]
 {:->response #ig/ref :audiophile.spec/id
  :handler    #ig/ref :audiophile.services.ws/handler
  :spec       :api.ws/connect}

 [:audiophile.spec/with-spec :api.handler/artifacts#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.files/upload
  :spec       :api.artifact/create}

 [:audiophile.spec/with-spec :api.handler/comments#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.comments/create
  :spec       :api.comment/create}

 [:audiophile.spec/with-spec :api.handler/file#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.files/create-version
  :spec       :api.version/create}

 [:audiophile.spec/with-spec :api.handler/project.files#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.files/create
  :spec       :api.file/create}

 [:audiophile.spec/with-spec :api.handler/projects#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.projects/create
  :spec       :api.project/create}

 [:audiophile.spec/with-spec :api.handler/teams#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.teams/create
  :spec       :api.team/create}

 [:audiophile.spec/with-spec :api.handler/users#post]
 {:->response #ig/ref :audiophile.spec/no-content
  :handler    #ig/ref :audiophile.handlers.users/create
  :spec       :api.user/create}

 :audiophile.spec/ok
 {}

 :audiophile.spec/id
 {}

 :audiophile.spec/no-content
 {}

 [:audiophile.routes/health :res.handler/health]
 {:components #ig/refset :component/health}

 :audiophile.routes/assets
 {}

 :audiophile.routes/ui
 {:api-base  #ig/ref :env/base-url#api
  :auth-base #ig/ref :env/base-url#auth
  :template  #duct/include "html.edn"}

 :audiophile.middleware/with-auth
 {:jwt-serde #ig/ref :serdes/jwt}

 :audiophile.middleware/vector-response
 {}

 :audiophile.middleware/with-headers
 {}

 :audiophile.middleware/with-cors
 {}

 :audiophile.middleware/with-serde
 {}

 :audiophile.middleware/with-route
 {:nav #ig/ref :services/nav}

 :audiophile.handlers.auth/login
 {:auth #ig/ref :audiophile.services.auth/provider}

 :audiophile.handlers.auth/logout
 {:auth #ig/ref :audiophile.services.auth/provider}

 :audiophile.handlers.auth/callback-url
 {:base-url      #ig/ref :env/base-url#auth
  :redirect-path "/auth/callback"}

 :audiophile.handlers.auth/callback
 {:auth #ig/ref :audiophile.services.auth/provider}

 :audiophile.services.auth/provider
 {:base-url   #ig/ref :env/base-url#ui
  :interactor #ig/ref :interactors/users
  :jwt-serde  #ig/ref :serdes/jwt
  :nav        #ig/ref :services/nav
  :oauth      #ig/ref :services/oauth
  :signup?    #ig/ref :env.ff/signup?}

 :audiophile.handlers.users/profile
 {:interactor #ig/ref :interactors/users}

 :audiophile.handlers.projects/fetch-all
 {:interactor #ig/ref :interactors/projects}

 :audiophile.handlers.projects/fetch
 {:interactor #ig/ref :interactors/projects}

 :audiophile.handlers.projects/create
 {:interactor #ig/ref :interactors/projects}

 :audiophile.handlers.teams/fetch
 {:interactor #ig/ref :interactors/teams}

 :audiophile.handlers.teams/fetch-all
 {:interactor #ig/ref :interactors/teams}

 :audiophile.handlers.teams/create
 {:interactor #ig/ref :interactors/teams}

 :audiophile.handlers.users/create
 {:interactor #ig/ref :interactors/users}

 :audiophile.handlers.comments/fetch-all
 {:interactor #ig/ref :interactors/comments}

 :audiophile.handlers.comments/create
 {:interactor #ig/ref :interactors/comments}

 :audiophile.handlers.events/fetch-all
 {:interactor #ig/ref :interactors/events}

 :audiophile.handlers.files/upload
 {:interactor #ig/ref :interactors/files}

 :audiophile.handlers.files/fetch-all
 {:interactor #ig/ref :interactors/files}

 :audiophile.handlers.files/fetch
 {:interactor #ig/ref :interactors/files}

 :audiophile.handlers.files/create
 {:interactor #ig/ref :interactors/files}

 :audiophile.handlers.files/create-version
 {:interactor #ig/ref :interactors/files}

 :audiophile.handlers.files/download
 {:interactor #ig/ref :interactors/files}

 :audiophile.services.ws/handler
 {:heartbeat-int-ms #ig/ref :env.ws/heartbeat-int-ms
  :pubsub           #ig/ref :services/pubsub}}
