{:com.ben-allred.audiophile.api.handlers.core/router
 #ig/ref :routes/table

 [:duct/const :routes/table]
 {[:get :api/project.files]  #ig/ref :com.ben-allred.audiophile.api.handlers.files/fetch-all
  [:get :api/project]        #ig/ref :com.ben-allred.audiophile.api.handlers.projects/fetch
  [:get :api/projects]       #ig/ref :com.ben-allred.audiophile.api.handlers.projects/fetch-all
  [:get :api/team]           #ig/ref :com.ben-allred.audiophile.api.handlers.teams/fetch
  [:get :api/teams]          #ig/ref :com.ben-allred.audiophile.api.handlers.teams/fetch-all
  [:get :api/ws]             #ig/ref :com.ben-allred.audiophile.api.services.pubsub.ws/handler
  [:get :auth/callback]      #ig/ref :com.ben-allred.audiophile.api.handlers.auth/callback
  [:get :auth/details]       #ig/ref :com.ben-allred.audiophile.api.handlers.auth/details
  [:get :auth/login]         #ig/ref :com.ben-allred.audiophile.api.handlers.auth/login
  [:get :auth/logout]        #ig/ref :com.ben-allred.audiophile.api.handlers.auth/logout
  [:get :resources/css]      #ig/ref :com.ben-allred.audiophile.api.handlers.resources/assets
  [:get :resources/health]   #ig/ref :com.ben-allred.audiophile.api.handlers.resources/health
  [:get :resources/js]       #ig/ref :com.ben-allred.audiophile.api.handlers.resources/assets
  [:get :ui/home]            #ig/ref :com.ben-allred.audiophile.api.handlers.resources/ui
  [:post :api/artifacts]     #ig/ref :com.ben-allred.audiophile.api.handlers.files/upload
  [:post :api/project.file]  #ig/ref :com.ben-allred.audiophile.api.handlers.files/create-version
  [:post :api/project.files] #ig/ref :com.ben-allred.audiophile.api.handlers.files/create
  [:post :api/projects]      #ig/ref :com.ben-allred.audiophile.api.handlers.projects/create
  [:post :api/teams]         #ig/ref :com.ben-allred.audiophile.api.handlers.teams/create}

 :com.ben-allred.audiophile.api.handlers.resources/health
 {}

 :com.ben-allred.audiophile.api.handlers.resources/assets
 {}

 :com.ben-allred.audiophile.api.handlers.resources/ui
 {:store #ig/ref :services/store
  :app   #ig/ref :com.ben-allred.audiophile.common.views.core/app}

 :com.ben-allred.audiophile.api.handlers.middleware/with-auth
 {:jwt-serde #ig/ref :serdes/jwt}

 :com.ben-allred.audiophile.api.handlers.middleware/vector-response
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/with-headers
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/serde
 {:edn-serde     #ig/ref :serdes/edn
  :transit-serde #ig/ref :serdes/transit}

 :com.ben-allred.audiophile.api.handlers.middleware/with-route
 {:nav #ig/ref :services/nav}

 :com.ben-allred.audiophile.api.handlers.middleware/with-logging
 {}

 :com.ben-allred.audiophile.api.handlers.auth/login
 {:oauth #ig/ref :services/oauth}

 :com.ben-allred.audiophile.api.handlers.auth/logout
 {:base-url #ig/ref :env/base-url
  :nav      #ig/ref :services/nav}

 :com.ben-allred.audiophile.api.handlers.auth/callback
 {:base-url #ig/ref :env/base-url
  :nav      #ig/ref :services/nav
  :oauth    #ig/ref :com.ben-allred.audiophile.api.services.auth.core/auth-provider
  :serde    #ig/ref :serdes/jwt}

 :com.ben-allred.audiophile.api.handlers.auth/details
 {}

 :com.ben-allred.audiophile.api.services.auth.core/auth-provider
 {:nav        #ig/ref :services/nav
  :oauth      #ig/ref :services/oauth
  :interactor #ig/ref :interactors/users}

 :com.ben-allred.audiophile.api.handlers.projects/fetch-all
 {:interactor #ig/ref :interactors/projects}

 :com.ben-allred.audiophile.api.handlers.projects/fetch
 {:interactor #ig/ref :interactors/projects}

 :com.ben-allred.audiophile.api.handlers.projects/create
 {:interactor #ig/ref :interactors/projects}

 :com.ben-allred.audiophile.api.handlers.teams/fetch
 {:interactor #ig/ref :interactors/teams}

 :com.ben-allred.audiophile.api.handlers.teams/fetch-all
 {:interactor #ig/ref :interactors/teams}

 :com.ben-allred.audiophile.api.handlers.teams/create
 {:interactor #ig/ref :interactors/teams}

 :com.ben-allred.audiophile.api.handlers.files/upload
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/fetch-all
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/create
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/create-version
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/download
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.services.pubsub.ws/handler
 {:->channel #ig/ref :com.ben-allred.audiophile.api.services.pubsub.ws/->channel
  :->handler #ig/ref :com.ben-allred.audiophile.api.services.pubsub.ws/->handler}

 :com.ben-allred.audiophile.api.services.pubsub.ws/->channel
 {:serdes #ig/ref :config/serdes}

 :com.ben-allred.audiophile.api.services.pubsub.ws/->handler
 {:heartbeat-int-ms #ig/ref :env.ws/heartbeat-int-ms
  :pubsub           #ig/ref :services/pubsub
  :serdes           #ig/ref :config/serdes}}
