{[:duct/const :routes/table#api]
 {[:get :api/project.files]  #ig/ref :api.handler/project.files#get
  [:get :api/project]        #ig/ref :api.handler/project#get
  [:get :api/projects]       #ig/ref :api.handler/projects#get
  [:get :api/team]           #ig/ref :api.handler/team#get
  [:get :api/teams]          #ig/ref :api.handler/teams#get
  [:get :ws/connection]      #ig/ref :com.ben-allred.audiophile.api.services.pubsub.ws/handler
  [:get :resources/health]   #ig/ref :handlers/health#api
  [:post :api/artifacts]     #ig/ref :api.handler/artifacts#post
  [:post :api/project.file]  #ig/ref :api.handler/project.file#post
  [:post :api/project.files] #ig/ref :api.handler/project.files#post
  [:post :api/projects]      #ig/ref :api.handler/projects#post
  [:post :api/teams]         #ig/ref :api.handler/teams#post}

 [:duct/const :routes/table#auth]
 {[:get :auth/callback]    #ig/ref :com.ben-allred.audiophile.api.handlers.auth/callback
  [:get :auth/details]     #ig/ref :com.ben-allred.audiophile.api.handlers.auth/details
  [:get :auth/login]       #ig/ref :com.ben-allred.audiophile.api.handlers.auth/login
  [:get :auth/logout]      #ig/ref :com.ben-allred.audiophile.api.handlers.auth/logout
  [:get :resources/health] #ig/ref :handlers/health#auth}

 [:duct/const :routes/table#ui]
 {[:get :resources/css]    #ig/ref :com.ben-allred.audiophile.api.handlers.resources/assets
  [:get :resources/js]     #ig/ref :com.ben-allred.audiophile.api.handlers.resources/assets
  [:get :resources/health] #ig/ref :handlers/health#ui
  [:get :ui/home]          #ig/ref :com.ben-allred.audiophile.api.handlers.resources/ui}

 [:com.ben-allred.audiophile.api.handlers.core/router :api/router#api]
 #ig/ref :routes/table#api

 [:com.ben-allred.audiophile.api.handlers.core/router :api/router#auth]
 #ig/ref :routes/table#auth

 [:com.ben-allred.audiophile.api.handlers.core/router :api/router#ui]
 #ig/ref :routes/table#ui

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/project.files#get]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.files/fetch-all
  :spec    :api.common/project-id}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/project#get]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.projects/fetch
  :spec    :api.common/project-id}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/projects#get]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.projects/fetch-all
  :spec    :api.common/auth}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/team#get]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.teams/fetch
  :spec    :api.common/team-id}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/teams#get]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.teams/fetch-all
  :spec    :api.common/auth}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/artifacts#post]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.files/upload
  :spec    :api.artifact/create}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/project.file#post]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.files/create-version
  :spec    :api.version/create}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/project.files#post]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.files/create
  :spec    :api.file/create}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/projects#post]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.projects/create
  :spec    :api.project/create}

 [:com.ben-allred.audiophile.api.handlers.validations.core/with-spec :api.handler/teams#post]
 {:handler #ig/ref :com.ben-allred.audiophile.api.handlers.teams/create
  :spec    :api.team/create}

 [:com.ben-allred.audiophile.api.handlers.resources/health :handlers/health#api]
 #{}

 [:com.ben-allred.audiophile.api.handlers.resources/health :handlers/health#auth]
 #{}

 [:com.ben-allred.audiophile.api.handlers.resources/health :handlers/health#ui]
 #{}

 :com.ben-allred.audiophile.api.handlers.resources/assets
 {}

 :com.ben-allred.audiophile.api.handlers.resources/ui
 {:app       #ig/ref :com.ben-allred.audiophile.common.views.core/app
  :api-base  #ig/ref :env/base-url#api
  :auth-base #ig/ref :env/base-url#auth
  :store     #ig/ref :services/store}

 :com.ben-allred.audiophile.api.handlers.middleware/with-auth
 {:jwt-serde #ig/ref :serdes/jwt}

 :com.ben-allred.audiophile.api.handlers.middleware/vector-response
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/with-headers
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/with-cors
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/serde
 {:edn-serde     #ig/ref :serdes/edn
  :transit-serde #ig/ref :serdes/transit
  :json-serde    #ig/ref :serdes/json}

 :com.ben-allred.audiophile.api.handlers.middleware/with-route
 {:nav #ig/ref :services/nav}

 :com.ben-allred.audiophile.api.handlers.middleware/with-logging
 {}

 :com.ben-allred.audiophile.api.handlers.auth/login
 {:oauth #ig/ref :com.ben-allred.audiophile.api.services.auth.core/auth-provider}

 :com.ben-allred.audiophile.api.handlers.auth/logout
 {:base-url #ig/ref :env/base-url#ui
  :nav      #ig/ref :services/nav}

 :com.ben-allred.audiophile.api.handlers.auth/callback-url
 {:base-url      #ig/ref :env/base-url#auth
  :redirect-path "/auth/callback"}

 :com.ben-allred.audiophile.api.handlers.auth/callback
 {:base-url #ig/ref :env/base-url#ui
  :nav      #ig/ref :services/nav
  :oauth    #ig/ref :com.ben-allred.audiophile.api.services.auth.core/auth-provider
  :serde    #ig/ref :serdes/jwt}

 :com.ben-allred.audiophile.api.handlers.auth/details
 {}

 :com.ben-allred.audiophile.api.services.auth.core/auth-provider
 {:nav        #ig/ref :services/nav
  :oauth      #ig/ref :services/oauth
  :interactor #ig/ref :interactors/users}

 :com.ben-allred.audiophile.api.handlers.projects/fetch-all
 {:interactor #ig/ref :interactors/projects}

 :com.ben-allred.audiophile.api.handlers.projects/fetch
 {:interactor #ig/ref :interactors/projects}

 :com.ben-allred.audiophile.api.handlers.projects/create
 {:interactor #ig/ref :interactors/projects}

 :com.ben-allred.audiophile.api.handlers.teams/fetch
 {:interactor #ig/ref :interactors/teams}

 :com.ben-allred.audiophile.api.handlers.teams/fetch-all
 {:interactor #ig/ref :interactors/teams}

 :com.ben-allred.audiophile.api.handlers.teams/create
 {:interactor #ig/ref :interactors/teams}

 :com.ben-allred.audiophile.api.handlers.files/upload
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/fetch-all
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/create
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/create-version
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.handlers.files/download
 {:interactor #ig/ref :interactors/files}

 :com.ben-allred.audiophile.api.services.pubsub.ws/handler
 {:->channel #ig/ref :com.ben-allred.audiophile.api.services.pubsub.ws/->channel
  :->handler #ig/ref :com.ben-allred.audiophile.api.services.pubsub.ws/->handler}

 :com.ben-allred.audiophile.api.services.pubsub.ws/->channel
 {:serdes #ig/ref :config/serdes}

 :com.ben-allred.audiophile.api.services.pubsub.ws/->handler
 {:heartbeat-int-ms #ig/ref :env.ws/heartbeat-int-ms
  :pubsub           #ig/ref :services/pubsub
  :serdes           #ig/ref :config/serdes}}
