{[:duct/const :serdes/jwt]
 #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/jwt

 :com.ben-allred.audiophile.common.services.serdes.core/jwt
 {:data-serde #ig/ref :serdes/transit
  :expiration #ig/ref :env/jwt-expiration
  :secret     #ig/ref :env/jwt-secret}}
