{[:duct/const :serdes/jwt]
 #ig/ref :audiophile.services.serdes/jwt

 :audiophile.services.serdes/jwt
 {:data-serde #ig/ref :serdes/transit
  :expiration #ig/ref :env/jwt-expiration
  :secret     #ig/ref :env/jwt-secret}}
