{[:duct/const :services/transactor]
 #ig/ref :audiophile.repositories/transactor

 [:duct/const :services/datasource]
 #ig/ref :audiophile.repositories/datasource

 [:duct/const :services/oauth]
 #ig/ref :audiophile.services.auth.google/provider

 [:duct/const :services/s3-client]
 #ig/ref :audiophile.services.s3/client

 [:duct/const :services/pubsub]
 #ig/ref :audiophile.services.pubsub/rabbitmq

 [:duct/const :services/pubsub#mem]
 #ig/ref :audiophile.services.pubsub/memory

 [:audiophile.repositories/cfg :config/db]
 {:db-name  #ig/ref :env.db/name
  :host     #ig/ref :env.db/host
  :password #ig/ref :env.db/password
  :port     #ig/ref :env.db/port
  :user     #ig/ref :env.db/user}

 :audiophile.repositories/datasource
 {:spec #ig/ref :config/db}

 [:audiophile.repositories/transactor :component/health]
 {:->executor #ig/ref :audiophile.repositories/->executor
  :datasource #ig/ref :services/datasource}

 :audiophile.repositories/->executor
 {:->builder-fn    #ig/ref :audiophile.repositories/->builder-fn
  :query-formatter #ig/ref :audiophile.repositories/query-formatter}

 :audiophile.repositories/query-formatter
 {}

 :audiophile.repositories/->builder-fn
 {}

 :audiophile.services.auth.google/provider
 {:cfg         {:client-id     #ig/ref :env.goauth/client-id
                :client-secret #ig/ref :env.goauth/client-secret
                :scopes        #ig/ref :env.goauth/scopes
                :auth-uri      #ig/ref :env.goauth/auth-uri
                :redirect-uri  #ig/ref :audiophile.handlers.auth/callback-url
                :token-uri     #ig/ref :env.goauth/token-uri
                :profile-uri   #ig/ref :env.goauth/profile-uri}
  :http-client #ig/ref :services/http}

 [:audiophile.services.s3/client :component/health]
 {:access-key #ig/ref :env.s3/access-key
  :bucket     #ig/ref :env.s3/bucket
  :region     #ig/ref :env.s3/region
  :secret-key #ig/ref :env.s3/secret-key}

 [:audiophile.services.pubsub/rabbitmq :component/health]
 {:handlers   [#ig/ref :audiophile.services.rabbitmq/db-handler
               #ig/ref :audiophile.services.rabbitmq/ws-handler]
  :pubsub     #ig/ref :services/pubsub#mem
  :queue-name "core.events"
  :serde      #ig/ref :serdes/edn
  :cfg        {:uri #ig/ref :env.rabbitmq/uri}}

 [:audiophile.services.pubsub/memory :component/health]
 {}

 :audiophile.services.rabbitmq/db-handler
 {:repo #ig/ref :repositories/events}

 :audiophile.services.rabbitmq/ws-handler
 {:pubsub #ig/ref :services/pubsub#mem}}
