{[:duct/const :services/transactor]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.core/transactor

 [:duct/const :services/datasource]
 #ig/ref :com.ben-allred.audiophile.api.services.repositories.core/datasource

 [:duct/const :services/oauth]
 #ig/ref :com.ben-allred.audiophile.api.services.auth.google/oauth-provider

 [:duct/const :services/s3-client]
 #ig/ref :com.ben-allred.audiophile.api.services.resources.s3/client

 [:com.ben-allred.audiophile.api.services.repositories.core/cfg :config/db]
 {:db-name  #ig/ref :env/db-name
  :host     #ig/ref :env/db-host
  :password #ig/ref :env/db-password
  :port     #ig/ref :env/db-port
  :user     #ig/ref :env/db-user}

 :com.ben-allred.audiophile.api.services.repositories.core/datasource
 {:spec #ig/ref :config/db}

 :com.ben-allred.audiophile.api.services.repositories.core/transactor
 {:->executor #ig/ref :com.ben-allred.audiophile.api.services.repositories.core/->executor
  :datasource #ig/ref :com.ben-allred.audiophile.api.services.repositories.core/datasource}

 :com.ben-allred.audiophile.api.services.repositories.core/->executor
 {:->builder-fn    #ig/ref :com.ben-allred.audiophile.api.services.repositories.core/->builder-fn
  :query-formatter #ig/ref :com.ben-allred.audiophile.api.services.repositories.core/query-formatter}

 :com.ben-allred.audiophile.api.services.repositories.core/query-formatter
 {}

 :com.ben-allred.audiophile.api.services.repositories.core/->builder-fn
 {}

 :com.ben-allred.audiophile.api.services.auth.google/oauth-provider
 {:cfg         {:client-id     #ig/ref :env.goauth/client-id
                :client-secret #ig/ref :env.goauth/client-secret
                :scopes        #ig/ref :env.goauth/scopes
                :auth-uri      #ig/ref :env.goauth/auth-uri
                :redirect-uri  #ig/ref :audiophile.handlers.auth/callback-url
                :token-uri     #ig/ref :env.goauth/token-uri
                :profile-uri   #ig/ref :env.goauth/profile-uri}
  :http-client #ig/ref :services/http}

 :com.ben-allred.audiophile.api.services.resources.s3/client
 {:access-key #ig/ref :env.s3/access-key
  :bucket     #ig/ref :env.s3/bucket
  :region     #ig/ref :env.s3/region
  :secret-key #ig/ref :env.s3/secret-key}}
