{[:duct/const :services/nav]
 #ig/ref :com.ben-allred.audiophile.common.services.navigation.core/router

 :com.ben-allred.audiophile.common.services.navigation.core/router
 {:routes #ig/ref :nav/routes}}
