#audiophile/merge
[#duct/include "duct/ui-components.edn"
 {[:duct/const :services/nav]
  #ig/ref :com.ben-allred.audiophile.common.services.navigation.core/nav

  [:duct/const :services/http]
  #ig/ref :com.ben-allred.audiophile.common.services.http/client

  :com.ben-allred.audiophile.common.services.http/client
  {:serdes {:edn     #ig/ref :serdes/edn
            :transit #ig/ref :serdes/transit}}

  :com.ben-allred.audiophile.common.services.navigation.core/nav
  {:routes #ig/ref :nav/routes
   :store  #ig/ref :com.ben-allred.audiophile.common.services.ui-store.core/store}}]
