#audiophile/merge
[#duct/include "duct/base.edn"
 #duct/include "duct/env.api.edn"
 #duct/include "duct/routes.api.edn"
 #duct/include "duct/serdes.api.edn"
 #duct/include "duct/services.api.edn"
 #duct/include "duct/ui-components.api.edn"
 {[:duct/const :api/handler]
  #ig/ref :com.ben-allred.audiophile.api.handlers.core/app

  :com.ben-allred.audiophile.api.handlers.core/app
  {:router     #ig/ref :com.ben-allred.audiophile.api.handlers.core/router
   :middleware [#ig/ref :com.ben-allred.audiophile.api.handlers.middleware/with-auth
                #ig/ref :com.ben-allred.audiophile.api.handlers.middleware/vector-response
                #ig/ref :com.ben-allred.audiophile.api.handlers.middleware/serde
                #ig/ref :com.ben-allred.audiophile.api.handlers.middleware/with-ex
                #ig/ref :com.ben-allred.audiophile.api.handlers.middleware/with-logging
                #ig/ref :com.ben-allred.audiophile.api.handlers.middleware/with-route]}}]
