{:com.ben-allred.audiophile.api.handlers.core/router
 #ig/ref :routes/table

 [:duct/const :routes/table]
 {[:get :resources/health] #ig/ref :com.ben-allred.audiophile.api.handlers.resources/health
  [:get :resources/css]    #ig/ref :com.ben-allred.audiophile.api.handlers.resources/assets
  [:get :resources/js]     #ig/ref :com.ben-allred.audiophile.api.handlers.resources/assets
  [:get :ui/home]          #ig/ref :com.ben-allred.audiophile.api.handlers.resources/ui
  [:get :ui/not-found]     #ig/ref :com.ben-allred.audiophile.api.handlers.resources/ui
  [:get :auth/login]       #ig/ref :com.ben-allred.audiophile.api.handlers.auth/login
  [:get :auth/logout]      #ig/ref :com.ben-allred.audiophile.api.handlers.auth/logout
  [:get :auth/callback]    #ig/ref :com.ben-allred.audiophile.api.handlers.auth/callback}

 :com.ben-allred.audiophile.api.handlers.resources/health
 {}

 :com.ben-allred.audiophile.api.handlers.resources/assets
 {}

 :com.ben-allred.audiophile.api.handlers.resources/ui
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/vector-response
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/serde
 {:edn-serde     #ig/ref :com.ben-allred.audiophile.api.services.serdes.core/edn
  :transit-serde #ig/ref :com.ben-allred.audiophile.api.services.serdes.core/transit}

 :com.ben-allred.audiophile.api.handlers.middleware/with-route
 {}

 :com.ben-allred.audiophile.api.handlers.middleware/with-logging
 {}

 :com.ben-allred.audiophile.api.handlers.auth/login
 {:base-url #ig/ref :env/base-url}

 :com.ben-allred.audiophile.api.handlers.auth/logout
 {:base-url #ig/ref :env/base-url}

 :com.ben-allred.audiophile.api.handlers.auth/callback
 {:base-url  #ig/ref :env/base-url
  :jwt-serde #ig/ref :com.ben-allred.audiophile.api.services.serdes.core/jwt}}
