{:com.ben-allred.audiophile.common.services.serdes.core/edn
 {}

 :com.ben-allred.audiophile.common.services.serdes.core/transit
 {}

 :com.ben-allred.audiophile.common.services.serdes.core/json
 {:object-mapper #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/object-mapper}

 :com.ben-allred.audiophile.common.services.serdes.core/object-mapper
 {}}
