{[:duct/const :services/http]
 #ig/ref :com.ben-allred.audiophile.common.services.http/client

 :com.ben-allred.audiophile.common.services.http/client
 {:serdes {:edn     #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/edn
           :json    #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/json
           :transit #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/transit}}}
