{:com.ben-allred.audiophile.common.views.core/app
 {:components-table #ig/ref :ui.components/table
  :header           #ig/ref :com.ben-allred.audiophile.common.views.roots.home/header
  :toasts           #ig/ref :com.ben-allred.audiophile.common.views.components.toast/toasts
  :banners          #ig/ref :com.ben-allred.audiophile.common.views.components.toast/banners
  :user-resource    #ig/ref :resources/user-details}

 [:duct/const :ui.components/table]
 {:ui/home  #ig/ref :com.ben-allred.audiophile.common.views.roots.home/root
  :ui/login #ig/ref :com.ben-allred.audiophile.common.views.roots.login/root}

 [:duct/const :services/store]
 #ig/ref :com.ben-allred.audiophile.common.services.ui-store.core/store

 [:duct/const :resources/user-details]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/resource :user/details]

 [:duct/const :nav/routes]
 [""
  [;; AUTH
   ["/auth"
    [["/callback" :auth/callback]
     ["/login" :auth/login]
     ["/logout" :auth/logout]
     ["/details" :auth/details]
     [true :api/not-found]]]

   ;; API
   ["/api"
    [[true :api/not-found]]]

   ;; UI
   ["/" :ui/home]
   ["/login" :ui/login]

   ;; RESOURCES
   ["/health" :resources/health]
   ["/js" [[true :resources/js]]]
   ["/css" [[true :resources/css]]]
   [true :ui/not-found]]]

 [:duct/const :ui/err-codes]
 {:user-not-found "Authentication failed.User not found."}

 :com.ben-allred.audiophile.common.services.ui-store.core/store
 {}

 ;; Resources
 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :user/details]
 {:http-client #ig/ref :services/http
  :method      :get
  :nav         #ig/ref :services/nav
  :route       :auth/details}

 [:com.ben-allred.audiophile.common.services.resources.toaster/resource :user/details]
 {:store      #ig/ref :services/store
  :resource   #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :user/details]
  :success-fn #ig/ref :toaster/success-fn
  :error-fn   #ig/ref :toaster/error-fn}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :user/details]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :user/details]}

 [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/success-fn]
 {:msg "Success"}

 [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/error-fn]
 {:msg "An error has occurred."}

 :com.ben-allred.audiophile.common.services.resources.users/login
 {:nav #ig/ref :services/nav}

 ;; Reagent Components
 :com.ben-allred.audiophile.common.views.roots.home/root
 {:nav #ig/ref :services/nav}

 :com.ben-allred.audiophile.common.views.roots.login/root
 {:nav        #ig/ref :services/nav
  :login-form #ig/ref :views/login-form}

 [:com.ben-allred.audiophile.common.views.roots.login/login-form :views/login-form]
 {:nav #ig/ref :services/nav}

 :com.ben-allred.audiophile.common.views.roots.home/header
 {:nav #ig/ref :services/nav}

 :com.ben-allred.audiophile.common.views.components.toast/toasts
 {:store #ig/ref :services/store}

 :com.ben-allred.audiophile.common.views.components.toast/banners
 {:store     #ig/ref :services/store
  :err-codes #ig/ref :ui/err-codes}}
