{[:duct/const :services/nav]
 ^:promote #ig/ref :com.ben-allred.audiophile.common.services.navigation/stub

 :com.ben-allred.audiophile.common.services.navigation/stub
 {:routes #ig/ref :nav/routes}

 ;; UI Resources
 :com.ben-allred.audiophile.common.services.resources.users/details
 ^:promote {:http-client #ig/ref :http.stub/user-details}

 [:com.ben-allred.audiophile.common.services.http/stub :http.stub/user-details]
 {}}
