[:workflows/setup {:project/team-id    ?team-id
                   :project/name       ?name
                   :workflows/->result {:project/id (sp.ctx/get ?project-id)}}
 [:project/create! {:project/team-id (sp.ctx/get ?team-id)
                    :project/name    (sp.ctx/get ?name)
                    :spigot/->ctx    {?project-id :project/id}}]]
