[:workflows/setup {:project/team-id    ?team-id
                   :project/name       ?name
                   :workflows/->result {:project/id (spigot/get ?project-id)}}
 [:project/create! {:spigot/in  {:project/team-id (spigot/get ?team-id)
                                 :project/name    (spigot/get ?name)}
                    :spigot/out {?project-id (spigot/get :project/id)}}]]
