[:workflows/setup {:project/id   ?project-id
                   :project/name ?name}
 [:project/update! {:project/id   (sp.ctx/get ?project-id)
                    :project/name (sp.ctx/get ?name)}]]
