[:workflows/setup {:project/id   ?project-id
                   :project/name ?name}
 [:spigot/serial
  [:project/update! {:spigot/in {:project/id   (spigot/get ?project-id)
                                 :project/name (spigot/get ?name)}}]
  [:pubsub/publish! {:spigot/in {:events [{:topic   [:projects (spigot/get ?project-id)]
                                           :payload {:event/type :project/updated
                                                     :event/data {:project/id   (spigot/get ?project-id)
                                                                  :project/name (spigot/get ?name)}}}]}}]]]
