{:deps   true
 :nrepl  {:port #shadow/env ["CLJS_NREPL_PORT" :as :int :default 7400]}
 :builds {:dev
          {:target        :browser
           :output-dir    "resources/public/js"
           :compiler      {:optimizations :none}
           :devtools      {:watch-dir   "resources/public"
                           :before-load audiophile.ui.dev.core/halt
                           :after-load  audiophile.ui.dev.core/init}
           :module-loader true
           :modules       {:main      {:init-fn audiophile.ui.dev.core/init}
                           :layout    {:entries    [audiophile.ui.views.layout]
                                       :depends-on #{:main}}
                           :dashboard {:entries    [audiophile.ui.views.dashboard.core]
                                       :depends-on #{:layout}}
                           :project   {:entries    [audiophile.ui.views.project.core]
                                       :depends-on #{:layout}}}}

          :ui
          {:target        :browser
           :output-dir    "resources/public/js"
           :compiler      {:optimizations :advanced}
           :module-loader true
           :modules       {:main      {:init-fn audiophile.ui.app/init}
                           :layout    {:entries    [audiophile.ui.views.layout]
                                       :depends-on #{:main}}
                           :dashboard {:entries    [audiophile.ui.views.dashboard.core]
                                       :depends-on #{:layout}}
                           :project   {:entries    [audiophile.ui.views.project.core]
                                       :depends-on #{:layout}}}}

          :web-test
          {:target        :browser
           :output-dir    "resources/public/js"
           :compiler      {:optimizations :advanced}
           :module-loader true
           :modules       {:main      {:init-fn audiophile.ui.dev.core/init}
                           :layout    {:entries    [audiophile.ui.views.layout]
                                       :depends-on #{:main}}
                           :dashboard {:entries    [audiophile.ui.views.dashboard.core]
                                       :depends-on #{:layout}}
                           :project   {:entries    [audiophile.ui.views.project.core]
                                       :depends-on #{:layout}}}}

          :test
          {:target    :browser-test
           :test-dir  "resources/private"
           :ns-regexp "-test$"
           :devtools  {:http-root "resources/private"}
           :autorun   true}}}
