{:deps   true
 :nrepl  {:port #shadow/env ["CLJS_NREPL_PORT" :as :int :default 7400]}
 :builds {:dev
          {:target        :browser
           :output-dir    "resources/public/js"
           :compiler      {:optimizations :none}
           :devtools      {:watch-dir   "resources/public"
                           :before-load com.ben-allred.audiophile.ui.dev.core/halt
                           :after-load  com.ben-allred.audiophile.ui.dev.core/init}
           :module-loader true
           :modules       {:main      {:init-fn com.ben-allred.audiophile.ui.dev.core/init}
                           :dashboard {:entries    [com.ben-allred.audiophile.ui.infrastructure.pages.dashboard]
                                       :depends-on #{:main}}}}

          :ui
          {:target        :browser
           :output-dir    "resources/public/js"
           :compiler      {:optimizations :advanced}
           :module-loader true
           :modules       {:main      {:init-fn com.ben-allred.audiophile.ui.app/init}
                           :dashboard {:entries    [com.ben-allred.audiophile.ui.infrastructure.pages.dashboard]
                                       :depends-on #{:main}}}}

          :web-test
          {:target        :browser
           :output-dir    "resources/public/js"
           :compiler      {:optimizations :advanced}
           :module-loader true
           :modules       {:main      {:init-fn com.ben-allred.audiophile.ui.dev.core/init}
                           :dashboard {:entries    [com.ben-allred.audiophile.ui.infrastructure.pages.dashboard]
                                       :depends-on #{:main}}}}

          :test
          {:target    :browser-test
           :test-dir  "resources/private"
           :ns-regexp "-test$"
           :devtools  {:http-root "resources/private"}
           :autorun   true}}}
