[:workflows/setup {:artifact/filename     ?filename
                   :artifact/content-type ?content-type
                   :artifact/size         ?size
                   :artifact/uri          ?uri
                   :artifact/key          ?key
                   :workflows/->result    {:artifact/id       (spigot/get ?artifact-id)
                                           :artifact/filename (spigot/get ?filename)}}
 [:artifact/create! {:spigot/in  {:artifact/filename     (spigot/get ?filename)
                                  :artifact/content-type (spigot/get ?content-type)
                                  :artifact/size         (spigot/get ?size)
                                  :artifact/uri          (spigot/get ?uri)
                                  :artifact/key          (spigot/get ?key)}
                     :spigot/out {?artifact-id (spigot/get :artifact/id)}}]]
