{:duct.profile/base #duct/include "duct/base.api.edn"
 :duct.profile/prod {[:com.ben-allred.audiophile.api.core/server :duct/daemon]
                     {:handler     #ig/ref :api/handler
                      :server-port #ig/ref :env/server-port}}}
