[:workflows/setup {:artifact/id        ?artifact-id
                   :project/id         ?project-id
                   :file/name          ?file-name
                   :file-version/name  ?version-name
                   :workflows/->result {:file/id         (spigot/get ?file-id)
                                        :file-version/id (spigot/get ?version-id)}}
 [:spigot/serial
  [:file/create! {:spigot/in  {:file/name  (spigot/get ?file-name)
                               :project/id (spigot/get ?project-id)}
                  :spigot/out {?file-id (spigot/get :file/id)}}]
  [:file-version/create! {:spigot/in  {:artifact/id       (spigot/get ?artifact-id)
                                       :file-version/name (spigot/get ?version-name)
                                       :file/id           (spigot/get ?file-id)}
                          :spigot/out {?version-id (spigot/get :file-version/id)}}]]]
