[:workflows/setup {:file/id           ?file-id
                   :file-version/id   ?version-id
                   :file/name         ?file-name
                   :file-version/name ?version-name}
 [:spigot/serial
  [:spigot/parallel
   [:file/update! {:spigot/in {:file/name (spigot/get ?file-name)
                               :file/id   (spigot/get ?file-id)}}]
   [:file-version/update! {:spigot/in {:file-version/id   (spigot/get ?version-id)
                                       :file-version/name (spigot/get ?version-name)}}]]
  [:pubsub/publish! {:spigot/in {:events [{:topic   [:files (spigot/get ?file-id)]
                                           :payload {:event/type :file/updated
                                                     :event/data {:file/id           (spigot/get ?file-id)
                                                                  :file-version/id   (spigot/get ?version-id)
                                                                  :file/name         (spigot/get ?file-name)
                                                                  :file-version/name (spigot/get ?version-name)}}}]}}]]]
