[:workflows/setup {:artifact/id        ?artifact-id
                   :file-version/name  ?version-name
                   :file/id            ?file-id
                   :workflows/->result {:file-version/id (spigot/get ?version-id)}}
 [:file-version/create! {:spigot/in  {:artifact/id       (spigot/get ?artifact-id)
                                      :file-version/name (spigot/get ?version-name)
                                      :file/id           (spigot/get ?file-id)}
                         :spigot/out {?version-id (spigot/get :file-version/id)}}]]
