#audiophile/merge
[#duct/include "duct/common/base.edn"
 #duct/include "duct/ui/env.edn"
 #duct/include "duct/ui/services.edn"
 {:com.ben-allred.audiophile.common.services.http/client
  ^:promote {:middlewares [#ig/ref :com.ben-allred.audiophile.common.services.http/with-nav]}

  :com.ben-allred.audiophile.common.services.http/with-nav
  {:env #ig/ref :services.ui/env
   :nav #ig/ref :services/nav}}]
