#audiophile/merge
[#duct/include "duct/common/base.edn"
 #duct/include "duct/ui/env.edn"
 #duct/include "duct/ui/services.edn"
 {:audiophile.services.http/client
  ^:promote {:middlewares [#ig/ref :audiophile.services.http/with-nav]}

  :audiophile.services.http/with-nav
  {:env #ig/ref :services.ui/env
   :nav #ig/ref :services/nav}}]
