{[:duct/const :services/pubsub]
 #ig/ref :audiophile.services.pubsub/memory

 [:audiophile.ui.services/env :services.ui/env]
 {:transit #ig/ref :serdes/transit}

 [:audiophile.ui.services/base-urls :services.ui/base-urls]
 {:env #ig/ref :services.ui/env}

 :audiophile.services.ws/client
 {:env          #ig/ref :services.ui/env
  :nav          #ig/ref :services/nav
  :pubsub       #ig/ref :services/pubsub
  :reconnect-ms #ig/ref :env/ws-reconnect-ms
  :serde        #ig/ref :serdes/transit
  :store        #ig/ref :services/store}

 :audiophile.services.pubsub/memory
 {}}
