{[:duct/const :services.ui/base-urls]
 #ig/ref :audiophile.ui.services/base-urls

 [:duct/const :services/store]
 #ig/ref :audiophile.ui.services/store

 [:duct/const :services/pubsub]
 ^:promote #ig/ref :audiophile.ui.services/pubsub

 :audiophile.ui.services/base-urls
 {}

 :audiophile.services.nav/nav
 ^:promote {:store #ig/ref :services/store}

 :audiophile.ui.services/store
 {}

 :audiophile.services.pubsub/memory
 {}

 :audiophile.ui.services/pubsub
 {:pubsub #ig/ref :audiophile.services.pubsub/memory}}
