{[:duct/const :resources/project.file#create]
 #ig/ref [:audiophile.resources/toaster :projects/file#create]

 [:duct/const :resources/project.file#version]
 #ig/ref [:audiophile.resources/toaster :projects/file#version]

 [:duct/const :resources/project.files]
 #ig/ref [:audiophile.resources/base :projects/files]

 [:duct/const :resources/project]
 #ig/ref [:audiophile.resources/base :projects/one]

 [:duct/const :resources/projects.all]
 #ig/ref [:audiophile.resources/base :projects/all]

 :audiophile.views.projects/list
 {:nav #ig/ref :services/nav}

 [:audiophile.resources/http-handler :projects/all]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/projects}

 [:audiophile.resources/http-handler :projects/one]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/project}

 [:audiophile.resources/http-handler :projects/file#create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/project.files
  :opts->request #ig/ref :audiophile.resource.validated/opts->request}

 [:audiophile.resources/toaster :projects/file#create]
 {:error-fn   #ig/ref [:audiophile.resources.toaster/result-fn :toaster/error]
  :resource   #ig/ref [:audiophile.resources/base :projects/file#create]
  :store      #ig/ref :services/store
  :success-fn #ig/ref [:audiophile.resources.toaster/result-fn :toaster/success]
  :*toasts    #ig/ref :audiophile.core/toasts}

 [:audiophile.resources/http-handler :projects/file#version]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/file
  :opts->request #ig/ref :audiophile.resource.validated/opts->request}

 [:audiophile.resources/http-handler :projects/files]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/project.files}

 [:audiophile.resources/http-handler :projects/create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/projects
  :opts->request #ig/ref :audiophile.resource.validated/opts->request}

 [:audiophile.resources/base :projects/all]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :projects/all]}

 [:audiophile.resources/base :projects/one]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :projects/one]}

 [:audiophile.resources/base :projects/file#create]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :projects/file#create]}

 [:audiophile.resources/base :projects/file#version]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :projects/file#version]}

 [:audiophile.resources/toaster :projects/file#version]
 {:error-fn   #ig/ref [:audiophile.resources.toaster/result-fn :toaster/error]
  :resource   #ig/ref [:audiophile.resources/base :projects/file#version]
  :store      #ig/ref :services/store
  :success-fn #ig/ref [:audiophile.resources.toaster/result-fn :toaster/success]
  :*toasts    #ig/ref :audiophile.core/toasts}

 [:audiophile.resources/base :projects/files]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :projects/files]}

 [:audiophile.resources/base :projects/create]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :projects/create]}

 [:audiophile.resources/toaster :projects/create]
 {:error-fn   #ig/ref [:audiophile.resources.toaster/result-fn :toaster/error]
  :resource   #ig/ref [:audiophile.resources/base :projects/create]
  :store      #ig/ref :services/store
  :success-fn #ig/ref [:audiophile.resources.toaster/result-fn :toaster/success]
  :*toasts    #ig/ref :audiophile.core/toasts}

 [:audiophile.resources/redirect :projects/create]
 {:resource #ig/ref [:audiophile.resources/toaster :projects/create]
  :nav      #ig/ref :services/nav
  :routes   {:success/handle :ui/home}}

 [:audiophile.views.components/tile :tiles/projects#all]
 {:*resource #ig/ref :resources/projects.all
  :title     "Your projects"
  :view      #ig/ref :audiophile.views.projects/list}

 :audiophile.views.projects/create
 {:*int   #ig/ref :audiophile.views.projects/interactor
  :*teams #ig/ref :resources/teams#all}

 :audiophile.views.projects/interactor
 {:*file-version #ig/ref :resources/project.file#version
  :*files        #ig/ref :resources/project.files
  :*file         #ig/ref :resources/project.file#create
  :*projects     #ig/ref [:audiophile.resources/redirect :projects/create]
  :nav           #ig/ref :services/nav
  :->project-cb  #ig/ref [:audiophile.views.common/re-fetch :projects/create]}

 [:audiophile.views.common/re-fetch :projects/create]
 {:*resource #ig/ref :resources/projects.all}

 :audiophile.views.projects/one
 {:*files     #ig/ref :resources/project.files
  :*project   #ig/ref :resources/project
  :*team      #ig/ref :resources/team
  :track-list #ig/ref :audiophile.views.projects/track-list}

 :audiophile.views.projects/track-list
 {:file-form    #ig/ref :audiophile.views.projects/file-form
  :nav          #ig/ref :services/nav
  :*modals      #ig/ref :audiophile.core/modals
  :version-form #ig/ref :audiophile.views.projects/version-form}

 :audiophile.views.projects/file-form
 {:*artifacts #ig/ref :resources/artifacts
  :*int       #ig/ref :audiophile.views.projects/interactor}

 :audiophile.views.projects/version-form
 {:*artifacts #ig/ref :resources/artifacts
  :*int       #ig/ref :audiophile.views.projects/interactor}}
