{[:duct/const :services/store]
 #ig/ref :audiophile.services/store

 [:duct/const :resources/artifacts]
 #ig/ref [:audiophile.resources/toaster :artifacts/all]

 [:duct/const :ui/err-codes]
 {:login-failed "Authentication failed. Please try again."}

 :audiophile.services/store
 {:env #ig/ref :services.ui/env}

 :audiophile.resources.user/login-fn
 {:nav #ig/ref :services/nav}

 [:audiophile.resources.toaster/result-fn :toaster/success]
 {:msg "Success"}

 [:audiophile.resources.toaster/result-fn :toaster/error]
 {:msg "An error occurred."}

 :audiophile.core/banners
 {:store #ig/ref :services/store}

 :audiophile.core/toasts
 {:store #ig/ref :services/store}

 :audiophile.core/modals
 {:store #ig/ref :services/store}

 :audiophile.core/route-link
 {:nav   #ig/ref :services/nav
  :store #ig/ref :services/store}

 :audiophile.resource.validated/opts->request
 {}

 [:audiophile.resources/toaster :artifacts/all]
 {:*toasts     #ig/ref :audiophile.core/toasts
  :error-fn    #ig/ref [:audiophile.resources.toaster/result-fn :toaster/error]
  :error-msg   "Error - file upload failed"
  :success-msg "Success - file uploaded"
  :resource    #ig/ref [:audiophile.resources/base :artifacts/all]
  :store       #ig/ref :services/store}

 [:audiophile.resources/base :artifacts/all]
 {:opts->vow #ig/ref :audiophile.resources/file-uploader#request}

 :audiophile.resources/file-uploader#request
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :artifacts/all]
  :pubsub    #ig/ref :services/pubsub}

 [:audiophile.resources/http-handler :artifacts/all]
 {:http-client   #ig/ref :services/http
  :method        :post
  :opts->request #ig/ref :audiophile.resources/file-uploader
  :route         :api/artifacts}

 :audiophile.resources/file-uploader
 {}

 :audiophile.views.components/audio-player
 {:player #ig/ref :audiophile.views.components/artifact-player}

 :audiophile.views.components/artifact-player
 {:*artifact #ig/ref :audiophile.resource.audio/artifact}

 :audiophile.resource.audio/artifact
 {:http-client #ig/ref :services/http
  :nav         #ig/ref :services/nav}}
