{[:duct/const :resources/teams.all]
 #ig/ref [:audiophile.resources/base :teams/all]

 [:duct/const :resources/team]
 #ig/ref [:audiophile.resources/base :teams/one]

 :audiophile.views.teams/list
 {}

 :audiophile.views.teams/create
 {:*teams #ig/ref [:audiophile.resources/redirect :teams/create]
  :done   #ig/ref [:audiophile.views.common/re-fetch :teams/create]}

 [:audiophile.views.common/re-fetch :teams/create]
 {:*resource #ig/ref :resources/teams.all}

 [:audiophile.resources/http-handler :teams/all]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/teams}

 [:audiophile.resources/http-handler :teams/one]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/team}

 [:audiophile.resources/http-handler :teams/create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/teams
  :opts->request #ig/ref :audiophile.resource.validated/opts->request}

 [:audiophile.resources/cached :resources/teams#all]
 {:resource #ig/ref [:audiophile.resources/base :teams/all]}

 [:audiophile.resources/base :teams/all]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :teams/all]}

 [:audiophile.resources/base :teams/one]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :teams/one]}

 [:audiophile.resources/base :teams/create]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :teams/create]}

 [:audiophile.resources/toaster :teams/create]
 {:error-fn   #ig/ref [:audiophile.resources.toaster/result-fn :toaster/error]
  :resource   #ig/ref [:audiophile.resources/base :teams/create]
  :store      #ig/ref :services/store
  :success-fn #ig/ref [:audiophile.resources.toaster/result-fn :toaster/success]
  :*toasts    #ig/ref :audiophile.core/toasts}

 [:audiophile.resources/redirect :teams/create]
 {:resource #ig/ref [:audiophile.resources/toaster :teams/create]
  :nav      #ig/ref :services/nav
  :routes   {:success/handle :ui/home}}

 [:audiophile.views.components/tile :tiles/teams#all]
 {:*resource #ig/ref :resources/teams.all
  :title     "Your teams"
  :view      #ig/ref :audiophile.views.teams/list}}
