{:audiophile.views/app
 {:banners          #ig/ref :audiophile.views.components/banners
  :components-table #ig/ref :ui.components/table
  :header           #ig/ref :audiophile.views.home/header
  :modals           #ig/ref :audiophile.views.components/modals
  :toasts           #ig/ref :audiophile.views.components/toasts}

 [:duct/const :ui.components/table]
 {:ui/home    #ig/ref :audiophile.views.home/root
  :ui/login   #ig/ref :audiophile.views.login/root
  :ui/project #ig/ref :audiophile.views.projects/one
  :ui/file    #ig/ref :audiophile.views.files/one}

 :audiophile.views.home/root
 {:*modals       #ig/ref :audiophile.core/modals
  :*profile      #ig/ref [:audiophile.resources/base :users/profile]
  :nav           #ig/ref :services/nav
  :project-form  #ig/ref :audiophile.views.projects/create
  :projects-tile #ig/ref :tiles/projects#all
  :signup-form   #ig/ref :audiophile.views.signup/root
  :team-form     #ig/ref :audiophile.views.teams/create
  :teams-tile    #ig/ref :tiles/teams#all}

 :audiophile.views.login/root
 {:nav        #ig/ref :services/nav
  :login-form #ig/ref :audiophile.views.login/form}

 :audiophile.views.login/form
 {:nav #ig/ref :services/nav}

 :audiophile.views.signup/root
 {:*int #ig/ref :audiophile.views.signup/interactor
  :nav  #ig/ref :services/nav}

 :audiophile.views.signup/interactor
 {:*handles #ig/ref [:audiophile.resources/base :users/search#handle]
  :*mobiles #ig/ref [:audiophile.resources/base :users/search#mobile-number]
  :*users   #ig/ref [:audiophile.resources/toaster :users/create]}

 [:audiophile.resources/base :users/profile]
 {:opts->vow #ig/ref :audiophile.resources.custom/profile-fetcher}

 [:audiophile.resources/base :users/search#handle]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :users/search]}

 [:audiophile.resources/base :users/search#mobile-number]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :users/search]}

 [:audiophile.resources/toaster :users/create]
 {:error-fn  #ig/ref [:audiophile.resources.toaster/result-fn :toaster/error]
  :error-msg "Error - signup failed"
  :resource  #ig/ref [:audiophile.resources/base :users/create]
  :store     #ig/ref :services/store
  :*toasts   #ig/ref :audiophile.core/toasts}

 [:audiophile.resources/base :users/create]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :users/create]}

 :audiophile.resources.custom/profile-fetcher
 {:http-client #ig/ref :services/http
  :nav         #ig/ref :services/nav
  :store       #ig/ref :services/store}

 [:audiophile.resources/http-handler :users/search]
 {:http-client   #ig/ref :services/http
  :method        :get
  :route         :api/search
  :opts->request #ig/ref :audiophile.resources.user/search}

 [:audiophile.resources/http-handler :users/create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/users
  :opts->request #ig/ref :audiophile.resource.validated/opts->request}

 :audiophile.resources.user/search
 {}

 :audiophile.views.home/header
 {:nav #ig/ref :services/nav}

 :audiophile.views.components/modals
 {:*modals #ig/ref :audiophile.core/modals}

 :audiophile.views.components/toasts
 {:*toasts #ig/ref :audiophile.core/toasts}

 :audiophile.views.components/banners
 {:*banners  #ig/ref :audiophile.core/banners
  :err-codes #ig/ref :ui/err-codes}}
