{:com.ben-allred.audiophile.api.core/server ^:promote {:handler #ig/ref :com.ben-allred.audiophile.api.dev.handler/app}
 :com.ben-allred.audiophile.api.dev.handler/app {:app #ig/ref :com.ben-allred.audiophile.api.handlers.core/app}}
