#audiophile/merge
[#duct/include "dev.edn"
 {:duct.profile/migrations
  {:duct.core/project-ns
   :com.ben-allred/audiophile.migrations

   :audiophile.migrations/migrator
   {:datasource #ig/ref :services/datasource}

   :audiophile.repositories/->executor
   ^:promote {:query-formatter #ig/ref :audiophile.migrations/raw-formatter}

   :audiophile.migrations/raw-formatter
   {}}}]
