#audiophile/merge
[#duct/include "dev.edn"
 {:duct.profile/migrations
  {:duct.core/project-ns
   :com.ben-allred/audiophile.migrations

   :com.ben-allred.audiophile.api.dev.migrations/migrator
   {:datasource          #ig/ref :audiophile.repositories/datasource
    :migrations-res-path #ig/ref :resources/migration-path}

   :audiophile.repositories/->executor
   ^:promote {:query-formatter #ig/ref :audiophile.repositories/raw-formatter}

   :audiophile.repositories/raw-formatter
   {}}}]
