{:duct.profile/base
 #duct/include "duct/ui/base.edn"

 :duct.profile/dev
 {:audiophile.views.login/root
  ^:promote {:login-form #ig/ref :com.ben-allred.audiophile.ui.dev.core/login-form}

  :com.ben-allred.audiophile.ui.dev.core/login-form
  {:login-resource #ig/ref :resources/user-login}

  [:audiophile.resources/base :resources/user-login]
  {:opts->vow #ig/ref :audiophile.resources.user/login-fn}}}
