{:duct.profile/base
 #duct/include "duct/ui/base.edn"

 :duct.profile/dev
 {:audiophile.views.login/root
  ^:promote {:login-form #ig/ref :audiophile.dev/login-form}

  :audiophile.dev/login-form
  {:login-resource #ig/ref :resources/user-login}

  [:audiophile.resources/base :resources/user-login]
  {:opts->vow #ig/ref :audiophile.dev/login-fn}

  :audiophile.dev/login-fn
  {:nav #ig/ref :services/nav}}}
