[:workflows/setup {:user/id    ?user-id
                   :user/email ?email
                   :team/id    ?team-id
                   :inviter/id ?inviter-id}
 [:spigot/serial
  [:team-invitation/create! {:spigot/in {:team-invitation/team-id    (spigot/get ?team-id)
                                         :team-invitation/email      (spigot/get ?email)
                                         :team-invitation/invited-by (spigot/get ?inviter-id)}}]
  [:pubsub/publish! {:spigot/in {:events [{:topic   [:teams (spigot/get ?team-id)]
                                           :payload {:event/type :team-invitation/created
                                                     :event/data {:team-invitation/team-id (spigot/get ?team-id)
                                                                  :team-invitation/email   (spigot/get ?email)}}}
                                          {:topic   [:audiophile.backend.api.pubsub.core/user (spigot/get ?user-id)]
                                           :payload {:event/type :team-invitation/created
                                                     :event/data {:team-invitation/team-id (spigot/get ?team-id)
                                                                  :team-invitation/email   (spigot/get ?email)}}}]}}]]]
