[:workflows/setup {:user/id                    ?user-id
                   :team/id                    ?team-id
                   :team-invitation/invited-by ?inviter-id
                   :team-invitation/email      ?email
                   :team-invitation/status     ?status}
 [:spigot/serial
  [:team-invitation/update! {:team-invitation/team-id (sp.ctx/get ?team-id)
                             :team-invitation/user-id (sp.ctx/get ?user-id)
                             :team-invitation/email   (sp.ctx/get ?email)
                             :team-invitation/status  (sp.ctx/get ?status)}]
  [:pubsub/publish! {:events [{:topic   [:teams (sp.ctx/get ?team-id)]
                               :payload {:event/type :team-invitation/updated
                                         :event/data {:team-invitation/team-id (sp.ctx/get ?team-id)
                                                      :team-invitation/email   (sp.ctx/get ?email)
                                                      :team-invitation/status  (sp.ctx/get ?status)}}}
                              {:topic   [:audiophile.backend.api.pubsub.core/user (sp.ctx/get ?inviter-id)]
                               :payload {:event/type :team-invitation/updated
                                         :event/data {:team-invitation/team-id (sp.ctx/get ?team-id)
                                                      :team-invitation/email   (sp.ctx/get ?email)
                                                      :team-invitation/status  (sp.ctx/get ?status)}}}]}]]]
