[:workflows/setup {:user/id                    ?user-id
                   :team/id                    ?team-id
                   :team-invitation/invited-by ?inviter-id
                   :team-invitation/email      ?email
                   :team-invitation/status     ?status}
 [:spigot/serial
  [:team-invitation/update! {:spigot/in {:team-invitation/team-id (spigot/get ?team-id)
                                         :team-invitation/user-id (spigot/get ?user-id)
                                         :team-invitation/email   (spigot/get ?email)
                                         :team-invitation/status  (spigot/get ?status)}}]
  [:pubsub/publish! {:spigot/in {:events [{:topic   [:teams (spigot/get ?team-id)]
                                           :payload {:event/type :team-invitation/updated
                                                     :event/data {:team-invitation/team-id (spigot/get ?team-id)
                                                                  :team-invitation/email   (spigot/get ?email)
                                                                  :team-invitation/status  (spigot/get ?status)}}}
                                          {:topic   [:audiophile.backend.api.pubsub.core/user (spigot/get ?inviter-id)]
                                           :payload {:event/type :team-invitation/updated
                                                     :event/data {:team-invitation/team-id (spigot/get ?team-id)
                                                                  :team-invitation/email   (spigot/get ?email)
                                                                  :team-invitation/status  (spigot/get ?status)}}}]}}]]]
