[:comment/create! {:comment/body            (sp.ctx/get ?body)
                   :comment/selection       (sp.ctx/get ?selection)
                   :comment/file-version-id (sp.ctx/get ?version-id)
                   :comment/comment-id      (sp.ctx/get ?parent-id)
                   :spigot/->ctx            {?comment-id :comment/id}}]
