[:workflows/setup {:comment/body            ?body
                   :comment/selection       ?selection
                   :comment/file-version-id ?version-id
                   :comment/comment-id      ?parent-id
                   :user/id                 ?user-id
                   :workflows/->result      {:comment/id (spigot/get ?comment-id)}}
 [:comment/create! {:spigot/in  {:comment/body            (spigot/get ?body)
                                 :comment/selection       (spigot/get ?selection)
                                 :comment/file-version-id (spigot/get ?version-id)
                                 :comment/comment-id      (spigot/get ?parent-id)
                                 :comment/created-by      (spigot/get ?user-id)}
                    :spigot/out {?comment-id (spigot/get :comment/id)}}]]
