[{:insert-into :users
  :values      [{:first-name    "Joe"
                 :last-name     "Example"
                 :handle        "handly"
                 :email         "joe@example.com"
                 :mobile-number "1234567890"}]}
 {:insert-into :teams
  :values      [{:name "Team Seed"
                 :type [:cast "PERSONAL" :team_type]}]}
 {:insert-into :user-teams
  :values      [{:user-id #audiophile/fk [:users :email "joe@example.com"]
                 :team-id #audiophile/fk [:teams :name "Team Seed"]}]}
 {:insert-into :projects
  :values      [{:name    "Project Seed"
                 :team-id #audiophile/fk [:teams :name "Team Seed"]}]}
 {:insert-into :artifacts
  :values      [{:uri            "local://target/artifacts/some-key"
                 :filename       "example.mp3"
                 :content-type   "audio/mp3"
                 :content-length 123
                 :key            "some-key"}]}
 {:insert-into :files
  :values      [{:project-id #audiophile/fk [:projects :name "Project Seed"]
                 :idx        0
                 :name       "File Seed"}]}
 {:insert-into :file-versions
  :values      [{:file-id     #audiophile/fk [:files :name "File Seed"]
                 :artifact-id #audiophile/fk [:artifacts :filename "example.mp3"]
                 :name        "File Version Seed"}]}
 {:insert-into :comments
  :values      [{:file-version-id #audiophile/fk [:file-versions :name "File Version Seed"]
                 :selection [:cast "[0.123,3.21]" :numrange]
                 :body "Comment Seed 1"}]}
 {:insert-into :comments
  :values      [{:file-version-id #audiophile/fk [:file-versions :name "File Version Seed"]
                 :body "Comment Seed 2"
                 :comment-id #audiophile/fk [:comments :body "Comment Seed 1"]}]}
 {:insert-into :events
  :values      [{:event-type-id #audiophile/event-type :team/created
                 :model-id #audiophile/fk [:teams :name "Team Seed"]
                 :emitted-by #audiophile/fk [:users :email "joe@example.com"]
                 :emitted-at #inst "2020-04-17T07:14:51.01Z"}
                {:event-type-id #audiophile/event-type :project/created
                 :model-id #audiophile/fk [:projects :name "Project Seed"]
                 :emitted-by #audiophile/fk [:users :email "joe@example.com"]
                 :emitted-at #inst "2020-04-17T07:18:27.406Z"}
                {:event-type-id #audiophile/event-type :artifact/created
                 :model-id #audiophile/fk [:artifacts :key "some-key"]
                 :emitted-by #audiophile/fk [:users :email "joe@example.com"]
                 :emitted-at #inst "2020-04-17T09:38:47.599Z"}
                {:event-type-id #audiophile/event-type :comment/created
                 :model-id #audiophile/fk [:comments :body "Comment Seed 1"]
                 :emitted-by #audiophile/fk [:users :email "joe@example.com"]
                 :emitted-at #inst "2020-04-17T09:48:47.599Z"}
                {:event-type-id #audiophile/event-type :comment/created
                 :model-id #audiophile/fk [:comments :body "Comment Seed 2"]
                 :emitted-by #audiophile/fk [:users :email "joe@example.com"]
                 :emitted-at #inst "2020-04-17T09:58:47.599Z"}]}]
