#audiophile/merge
[#duct/include "dev.edn"
 {:duct.profile/test {[:audiophile.spec/with-spec :api.handler/ws#connect]
                      ^:promote {:handler #ig/ref :audiophile.test/ws-handler}

                      [:duct/const :services/transactor]
                      ^:promote #ig/ref :audiophile.test/transactor

                      [:duct/const :services/datasource]
                      ^:promote #ig/ref :audiophile.test/datasource

                      [:duct/const :test/seed-data]
                      #duct/include "seed.edn"

                      [:duct/const :services/rabbitmq#conn]
                      ^:promote #ig/ref :audiophile.test/rabbitmq#conn

                      :audiophile.services.ws/->handler
                      ^:promote {:heartbeat-int-ms 250}

                      :audiophile.test/ws-handler
                      {:pubsub #ig/ref :services/pubsub}

                      :audiophile.test/transactor
                      {:->executor #ig/ref :audiophile.repositories/->executor
                       :datasource #ig/ref :services/datasource
                       :migrator   #ig/ref :audiophile.migrations/migrator
                       :seed-data  #ig/ref :test/seed-data}

                      :audiophile.test/datasource
                      {:spec #ig/ref :config/db}

                      :audiophile.migrations/migrator
                      {:datasource          #ig/ref :audiophile.test/datasource
                       :migrations-res-path #ig/ref :resources/migration-path}

                      :audiophile.test/rabbitmq#conn
                      {}}}]
