#audiophile/merge
[#duct/include "dev.edn"
 {:duct.profile/test {[:audiophile.spec/with-spec :api.handler/ws#connect]
                      ^:promote {:handler #ig/ref :com.ben-allred.audiophile.integration.common.components/ws-handler}

                      [:duct/const :services/transactor]
                      ^:promote #ig/ref :com.ben-allred.audiophile.integration.common.components/transactor

                      [:duct/const :services/datasource]
                      ^:promote #ig/ref :com.ben-allred.audiophile.integration.common.components/datasource

                      [:duct/const :test/seed-data]
                      #duct/include "seed.edn"

                      :audiophile.services.ws/->handler
                      ^:promote {:heartbeat-int-ms 250}

                      :com.ben-allred.audiophile.integration.common.components/ws-handler
                      {:->channel #ig/ref :audiophile.services.ws/->channel
                       :->handler #ig/ref :audiophile.services.ws/->handler
                       :serdes    #ig/ref :config/serdes}

                      :com.ben-allred.audiophile.integration.common.components/transactor
                      {:->executor #ig/ref :audiophile.repositories/->executor
                       :datasource #ig/ref :services/datasource
                       :migrator   #ig/ref :com.ben-allred.audiophile.api.dev.migrations/migrator
                       :seed-data  #ig/ref :test/seed-data}

                      :com.ben-allred.audiophile.integration.common.components/datasource
                      {:spec #ig/ref :config/db}

                      :com.ben-allred.audiophile.api.dev.migrations/migrator
                      {:datasource          #ig/ref :com.ben-allred.audiophile.integration.common.components/datasource
                       :migrations-res-path #ig/ref :resources/migration-path}}}]
