#audiophile/merge
[#duct/include "dev.edn"
 {:duct.profile/test {[:duct/const :services/transactor]
                      ^:promote #ig/ref :audiophile.test/transactor

                      [:duct/const :services/datasource]
                      ^:promote #ig/ref :audiophile.test/datasource#pg

                      [:duct/const :test/seed-data]
                      #duct/include "seed.edn"

                      :audiophile.test/transactor
                      {:->executor #ig/ref :audiophile.repositories/->executor
                       :datasource #ig/ref :services/datasource}

                      :audiophile.test/datasource#pg
                      {:seed-data #ig/ref :test/seed-data
                       :spec      #ig/ref :config/db}

                      :audiophile.migrations/migrator
                      {:datasource #ig/ref :services/datasource}}}]
