{[:duct/const :resources/project.files]
 #ig/ref [:audiophile.resources/base :file/one]

 :audiophile.views.files/one
 {:*file  #ig/ref :resources/project.files
  :player #ig/ref :audiophile.views.components/audio-player}

 [:audiophile.resources/base :file/one]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :file/one]}

 [:audiophile.resources/http-handler :file/one]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/file}}
