{:com.ben-allred.audiophile.common.views.roots.projects/list
 {:nav #ig/ref :services/nav}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/all]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/projects}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/one]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/project}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/file#create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/project.files
  :opts->request #ig/ref :com.ben-allred.audiophile.common.services.resources.validated/opts->request}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/file#version]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/project.file
  :opts->request #ig/ref :com.ben-allred.audiophile.common.services.resources.validated/opts->request}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/files]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/project.files}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/projects
  :opts->request #ig/ref :com.ben-allred.audiophile.common.services.resources.validated/opts->request}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/all]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/all]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/one]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/one]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/file#create]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/file#create]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/file#version]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/file#version]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/files]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/files]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/create]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :projects/create]}

 [:com.ben-allred.audiophile.common.services.resources.toaster/resource :projects/create]
 {:error-fn   #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/error]
  :resource   #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/create]
  :store      #ig/ref :services/store
  :success-fn #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/success]}

 [:com.ben-allred.audiophile.common.services.resources.redirect/resource :projects/create]
 {:resource #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/resource :projects/create]
  :nav      #ig/ref :services/nav
  :routes   {:success/handle :ui/home}}

 [:com.ben-allred.audiophile.common.views.components.tiles/with-resource :projects/all]
 {:resource #ig/ref :resources/projects.all
  :title    "Your Projects"
  :view     #ig/ref :com.ben-allred.audiophile.common.views.roots.projects/list}

 :com.ben-allred.audiophile.common.views.roots.projects/create
 {:all-projects #ig/ref :resources/projects.all
  :projects     #ig/ref [:com.ben-allred.audiophile.common.services.resources.redirect/resource :projects/create]
  :teams        #ig/ref [:com.ben-allred.audiophile.common.services.resources.cached/resource :teams/all]}

 :com.ben-allred.audiophile.common.views.roots.projects/one
 {:files      #ig/ref :resources/project.files
  :project    #ig/ref :resources/project
  :team       #ig/ref :resources/team
  :track-list #ig/ref :com.ben-allred.audiophile.common.views.roots.projects/track-list}

 :com.ben-allred.audiophile.common.views.roots.projects/track-list
 {:file-form    #ig/ref :com.ben-allred.audiophile.common.views.roots.projects/file-form
  :store        #ig/ref :services/store
  :version-form #ig/ref :com.ben-allred.audiophile.common.views.roots.projects/version-form}

 :com.ben-allred.audiophile.common.views.roots.projects/file-form
 {:artifacts #ig/ref :resources/artifacts
  :file      #ig/ref :resources/project.file#create
  :files     #ig/ref :resources/project.files}

 :com.ben-allred.audiophile.common.views.roots.projects/version-form
 {:artifacts    #ig/ref :resources/artifacts
  :file-version #ig/ref :resources/project.file#version
  :files        #ig/ref :resources/project.files}}
