{[:duct/const :ui.components/table]
 {:ui/home    #ig/ref :com.ben-allred.audiophile.common.views.roots.home/root
  :ui/login   #ig/ref :com.ben-allred.audiophile.common.views.roots.login/root
  :ui/project #ig/ref :com.ben-allred.audiophile.common.views.roots.projects/one}

 [:duct/const :services/store]
 #ig/ref :com.ben-allred.audiophile.common.services.ui-store.core/store

 [:duct/const :resources/artifacts]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :artifacts/all]

 [:duct/const :resources/projects.all]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/all]

 [:duct/const :resources/project]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/one]

 [:duct/const :resources/project.file#create]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/file#create]

 [:duct/const :resources/project.file#version]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/file#version]

 [:duct/const :resources/project.files]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :projects/files]

 [:duct/const :resources/teams.all]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/all]

 [:duct/const :resources/team]
 #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/one]

 [:duct/const :ui/err-codes]
 {:login-failed "Authentication failed. Please try again."}

 :com.ben-allred.audiophile.common.services.ui-store.core/store
 {:env #ig/ref :services.ui/env}

 :com.ben-allred.audiophile.common.services.resources.users/login
 {:nav #ig/ref :services/nav}

 [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/success]
 {:msg "Success"}

 [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/error]
 {:msg "An error occurred."}

 :com.ben-allred.audiophile.common.views.components.modal/modals
 {:store #ig/ref :services/store}

 :com.ben-allred.audiophile.common.views.components.toast/toasts
 {:store #ig/ref :services/store}

 :com.ben-allred.audiophile.common.views.components.toast/banners
 {:store     #ig/ref :services/store
  :err-codes #ig/ref :ui/err-codes}

 :com.ben-allred.audiophile.common.services.resources.validated/opts->request
 {}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :artifacts/all]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :artifacts/all]}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :artifacts/all]
 {:http-client   #ig/ref :services/http
  :method        :post
  :opts->request #ig/ref :com.ben-allred.audiophile.common.services.resources.core/file-uploader
  :route         :api/artifacts}

 :com.ben-allred.audiophile.common.services.resources.core/file-uploader
 {}}
