{[:duct/const :services/store]
 #ig/ref :audiophile.services/ui-store

 [:duct/const :resources/artifacts]
 #ig/ref [:audiophile.resources/base :artifacts/all]

 [:duct/const :ui/err-codes]
 {:login-failed "Authentication failed. Please try again."}

 :audiophile.services/ui-store
 {:env #ig/ref :services.ui/env}

 :audiophile.resources.user/login-fn
 {:nav #ig/ref :services/nav}

 [:audiophile.resources.toaster/result-fn :toaster/success]
 {:msg "Success"}

 [:audiophile.resources.toaster/result-fn :toaster/error]
 {:msg "An error occurred."}

 :audiophile.resources/toast-fn
 {:store #ig/ref :services/store}

 :audiophile.resource.validated/opts->request
 {}

 [:audiophile.resources/base :artifacts/all]
 {:opts->vow #ig/ref [:audiophile.resources/http-handler :artifacts/all]}

 [:audiophile.resources/http-handler :artifacts/all]
 {:http-client   #ig/ref :services/http
  :method        :post
  :opts->request #ig/ref :audiophile.resources/file-uploader
  :route         :api/artifacts}

 :audiophile.resources/file-uploader
 {}

 :audiophile.views.components/audio-player
 {:*artifact #ig/ref :audiophile.views.components/audio-resource}

 :audiophile.views.components/audio-resource
 {:http-client #ig/ref :services/http
  :nav         #ig/ref :services/nav}}
