{:com.ben-allred.audiophile.common.views.roots.teams/list
 {}

 :com.ben-allred.audiophile.common.views.roots.teams/create
 {:all-teams #ig/ref :resources/teams.all
  :teams     #ig/ref [:com.ben-allred.audiophile.common.services.resources.redirect/resource :teams/create]}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :teams/all]
 {:http-client #ig/ref :services/http
  :method      :get
  :route       :api/teams}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :teams/one]
 {:http-client  #ig/ref :services/http
  :method       :get
  :route        :api/team}

 [:com.ben-allred.audiophile.common.services.resources.core/http-handler :teams/create]
 {:http-client   #ig/ref :services/http
  :method        :post
  :route         :api/teams
  :opts->request #ig/ref :com.ben-allred.audiophile.common.services.resources.validated/opts->request}

 [:com.ben-allred.audiophile.common.services.resources.cached/resource :teams/all]
 {:resource #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/all]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/all]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :teams/all]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/one]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :teams/one]}

 [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/create]
 {:opts->vow #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/http-handler :teams/create]}

 [:com.ben-allred.audiophile.common.services.resources.toaster/resource :teams/create]
 {:error-fn   #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/error]
  :resource   #ig/ref [:com.ben-allred.audiophile.common.services.resources.core/resource :teams/create]
  :store      #ig/ref :services/store
  :success-fn #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/result-fn :toaster/success]}

 [:com.ben-allred.audiophile.common.services.resources.redirect/resource :teams/create]
 {:resource #ig/ref [:com.ben-allred.audiophile.common.services.resources.toaster/resource :teams/create]
  :nav      #ig/ref :services/nav
  :routes   {:success/page :ui/home}}

 [:com.ben-allred.audiophile.common.views.components.tiles/with-resource :teams/all]
 {:resource #ig/ref :resources/teams.all
  :title    "Your Teams"
  :view     #ig/ref :com.ben-allred.audiophile.common.views.roots.teams/list}}
