{:audiophile.views/app
 {:banners          #ig/ref :audiophile.views.components/banners
  :components-table #ig/ref :ui.components/table
  :header           #ig/ref :audiophile.views.home/header
  :modals           #ig/ref :audiophile.views.components/modals
  :toasts           #ig/ref :audiophile.views.components/toasts}

 [:duct/const :ui.components/table]
 {:ui/home    #ig/ref :audiophile.views.home/root
  :ui/login   #ig/ref :audiophile.views.login/root
  :ui/project #ig/ref :audiophile.views.projects/one
  :ui/file    #ig/ref :audiophile.views.files/one}

 :audiophile.views.home/root
 {:nav           #ig/ref :services/nav
  :project-form  #ig/ref :audiophile.views.projects/create
  :projects-tile #ig/ref :tiles/projects#all
  :store         #ig/ref :services/store
  :team-form     #ig/ref :audiophile.views.teams/create
  :teams-tile    #ig/ref :tiles/teams#all}

 :audiophile.views.login/root
 {:nav        #ig/ref :services/nav
  :login-form #ig/ref :audiophile.views.login/form}

 :audiophile.views.login/form
 {:nav #ig/ref :services/nav}

 :audiophile.views.home/header
 {:nav #ig/ref :services/nav}

 :audiophile.views.components/modals
 {:store #ig/ref :services/store}

 :audiophile.views.components/toasts
 {:store #ig/ref :services/store}

 :audiophile.views.components/banners
 {:store     #ig/ref :services/store
  :err-codes #ig/ref :ui/err-codes}}
