{[:duct/const :nav/routes]
 [""
  [;; AUTH
   ["/auth"
    [["/callback" :auth/callback]
     ["/login" :auth/login]
     ["/logout" :auth/logout]
     ["/details" :auth/details]
     [true :api/not-found]]]

   ;; API
   ["/api"
    [["/ws" :ws/connection]
     ["/artifacts"
      [["" :api/artifacts]
       [["/" #audiophile/uuid-param :artifact/id] :api/artifact]]]
     ["/comments"
      [["" :api/comments]]]
     ["/events"
      [["" :api/events]]]
     ["/files"
      [[["/" #audiophile/uuid-param :file/id]
        [["" :api/file]
         ["/comments" :api/file.comments]]]]]
     ["/projects"
      [["" :api/projects]
       [["/" #audiophile/uuid-param :project/id]
        [["" :api/project]
         ["/files"
          [["" :api/project.files]]]]]]]
     ["/teams"
      [["" :api/teams]
       [["/" #audiophile/uuid-param :team/id] :api/team]]]
     ["/search"
      [[["/" :field/entity "/" :field/name "/" :field/value] :api/search]]]
     ["/users"
      [["/profile" :api/profile]
       ["" :api/users]]]
     [true :api/not-found]]]

   ;; UI
   ["/" :ui/home]
   ["/files"
    [[["/" #audiophile/uuid-param :file/id] :ui/file]]]
   ["/login" :ui/login]
   ["/projects"
    [["" :ui/projects]
     [["/" #audiophile/uuid-param :project/id] :ui/project]]]
   ["/teams"
    [["" :ui/teams]
     [["/" #audiophile/uuid-param :team/id] :ui/team]]]

   ;; RESOURCES
   ["/health" :resources/health]
   ["/js" [[true :resources/js]]]
   ["/css" [[true :resources/css]]]
   [true :ui/not-found]]]}
