{[:duct/const :nav/routes]
 [""
  [;; AUTH
   ["/auth"
    [["/callback" :auth/callback]
     ["/login" :auth/login]
     ["/logout" :auth/logout]
     ["/details" :auth/details]
     [true :api/not-found]]]

   ;; API
   ["/api"
    [["/ws" :api/ws]
     ["/artifacts" :api/artifacts]
     ["/files"
      [[["/" #audiophile/uuid-param :file-id] :api/project.file]]]
     ["/projects"
      [["" :api/projects]
       [["/" #audiophile/uuid-param :project-id]
        [["" :api/project]
         ["/files"
          [["" :api/project.files]]]]]]]
     ["/teams"
      [["" :api/teams]
       [["/teams/" #audiophile/uuid-param :team-id] :api/team]]]
     [true :api/not-found]]]

   ;; UI
   ["/" :ui/home]
   ["/login" :ui/login]
   ["/projects"
    [["" :ui/projects]
     [["/" #audiophile/uuid-param :project-id] :ui/project]]]
   ["/teams"
    [["" :ui/teams]
     [["/" #audiophile/uuid-param :team-id] :ui/team]]]

   ;; RESOURCES
   ["/health" :resources/health]
   ["/js" [[true :resources/js]]]
   ["/css" [[true :resources/css]]]
   [true :ui/not-found]]]}
