{[:duct/const :config/serdes]
 {:edn       #ig/ref :serdes/edn
  :json      #ig/ref :serdes/json
  :transit   #ig/ref :serdes/transit
  :urlencode #ig/ref :serdes/urlencode
  :default   #ig/ref :serdes/edn}

 [:duct/const :serdes/edn]
 #ig/ref :audiophile.services.serdes/edn

 [:duct/const :serdes/transit]
 #ig/ref :audiophile.services.serdes/transit

 [:duct/const :serdes/json]
 #ig/ref :audiophile.services.serdes/json

 [:duct/const :serdes/urlencode]
 #ig/ref :audiophile.services.serdes/urlencode

 :audiophile.services.serdes/edn
 {}

 :audiophile.services.serdes/transit
 {}

 :audiophile.services.serdes/json
 {}

 :audiophile.services.serdes/urlencode
 {}}
