{[:duct/const :config/serdes]
 {:edn       #ig/ref :serdes/edn
  :json      #ig/ref :serdes/json
  :transit   #ig/ref :serdes/transit
  :urlencode #ig/ref :serdes/urlencode
  :default   #ig/ref :serdes/edn}

 [:duct/const :serdes/edn]
 #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/edn

 [:duct/const :serdes/transit]
 #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/transit

 [:duct/const :serdes/json]
 #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/json

 [:duct/const :serdes/urlencode]
 #ig/ref :com.ben-allred.audiophile.common.services.serdes.core/urlencode

 :com.ben-allred.audiophile.common.services.serdes.core/edn
 {}

 :com.ben-allred.audiophile.common.services.serdes.core/transit
 {}

 :com.ben-allred.audiophile.common.services.serdes.core/json
 {}

 :com.ben-allred.audiophile.common.services.serdes.core/urlencode
 {}}
