{[:duct/const :services/http]
 #ig/ref :audiophile.services.http/client

 [:duct/const :services/pubsub]
 #ig/ref :audiophile.services/pubsub

 :audiophile.services.http/client
 {:middlewares [#ig/ref :audiophile.services.http/base
                #ig/ref :audiophile.services.http/with-logging
                #ig/ref :audiophile.services.http/with-headers
                #ig/ref :audiophile.services.http/with-serde]}

 :audiophile.services.http/with-serde
 {:serdes #ig/ref :config/serdes}

 :audiophile.services.http/with-headers
 {}

 :audiophile.services.http/base
 {}

 :audiophile.services.http/with-logging
 {:log-ctx {:id :HTTP}}

 :audiophile.services/pubsub
 {}}
