#audiophile/merge
[#duct/include "duct/common/ui-components/projects.edn"
 #duct/include "duct/common/ui-components/shared.edn"
 #duct/include "duct/common/ui-components/teams.edn"
 #duct/include "duct/common/ui-components/views.edn"]
