{[:duct/const :services/rabbitmq#conn]
 #ig/ref :audiophile.services.rabbitmq/conn

 [:duct/const :services/pubsub]
 #ig/ref :audiophile.services.pubsub/memory

 [:audiophile.services.rabbitmq/channel :rabbitmq.chan/commands]
 {:conn      #ig/ref :services/rabbitmq#conn
  :queue-cfg #ig/ref :mq.channel/commands}

 [:audiophile.services.rabbitmq/channel :rabbitmq.chan/events]
 {:conn      #ig/ref :services/rabbitmq#conn
  :queue-cfg #ig/ref :mq.channel/events}

 [:audiophile.services.rabbitmq/subscriber :rabbitmq.sub/events#persist]
 {:ch      #ig/ref :rabbitmq.chan/events
  :handler #ig/ref :audiophile.services.rabbitmq/db-handler
  :opts    {:auto-ack         true
            :internal/handler "persist"}}

 [:audiophile.services.rabbitmq/subscriber :rabbitmq.sub/events#ws]
 {:ch      #ig/ref :rabbitmq.chan/events
  :handler #ig/ref :audiophile.services.rabbitmq/ws-handler
  :opts    {:auto-ack         true
            :internal/handler "ws"}}

 [:audiophile.services.rabbitmq/subscriber :rabbitmq.sub/commands#comments]
 {:ch      #ig/ref :rabbitmq.chan/commands
  :handler #ig/ref :audiophile.services.rabbitmq/command-handler#comments
  :opts    {:auto-ack         true
            :internal/handler "comments"}}

 [:audiophile.services.rabbitmq/subscriber :rabbitmq.sub/commands#files]
 {:ch      #ig/ref :rabbitmq.chan/commands
  :handler #ig/ref :audiophile.services.rabbitmq/command-handler#files
  :opts    {:auto-ack         true
            :internal/handler "files"}}

 [:audiophile.services.rabbitmq/subscriber :rabbitmq.sub/commands#projects]
 {:ch      #ig/ref :rabbitmq.chan/commands
  :handler #ig/ref :audiophile.services.rabbitmq/command-handler#projects
  :opts    {:auto-ack         true
            :internal/handler "projects"}}

 [:audiophile.services.rabbitmq/subscriber :rabbitmq.sub/commands#teams]
 {:ch      #ig/ref :rabbitmq.chan/commands
  :handler #ig/ref :audiophile.services.rabbitmq/command-handler#teams
  :opts    {:auto-ack         true
            :internal/handler "teams"}}

 [:audiophile.services.rabbitmq/conn :component/health]
 {:cfg {:uri #ig/ref :env.rabbitmq/uri}}

 [:audiophile.services.pubsub/memory :component/health]
 {}

 :audiophile.services.rabbitmq/db-handler
 {:repo #ig/ref :repositories/events}

 :audiophile.services.rabbitmq/ws-handler
 {:pubsub #ig/ref :services/pubsub}

 :audiophile.services.rabbitmq/command-handler#comments
 {:ch   #ig/ref :rabbitmq.chan/events
  :repo #ig/ref :repositories/comments}

 :audiophile.services.rabbitmq/command-handler#files
 {:ch   #ig/ref :rabbitmq.chan/events
  :repo #ig/ref :repositories/files}

 :audiophile.services.rabbitmq/command-handler#projects
 {:ch   #ig/ref :rabbitmq.chan/events
  :repo #ig/ref :repositories/projects}

 :audiophile.services.rabbitmq/command-handler#teams
 {:ch   #ig/ref :rabbitmq.chan/events
  :repo #ig/ref :repositories/teams}}
