{[:duct/const :mq.channel/events]
 {:name     #ig/ref :rabbitmq.exchange/events
  :type     :fanout
  :consumer #ig/ref :env.rabbitmq/consumer-group
  :global?  #ig/ref :env.rabbitmq/global
  :opts     {:durable     true
             :exclusive   false
             :auto-delete false
             :arguments   {"x-message-ttl" 604800000}}
  :serde    #ig/ref :serdes/edn}

 [:duct/const :mq.channel/commands]
 {:name     #ig/ref :rabbitmq.exchange/commands
  :type     :fanout
  :consumer #ig/ref :env.rabbitmq/consumer-group
  :global?  #ig/ref :env.rabbitmq/global
  :opts     {:durable     true
             :exclusive   false
             :auto-delete false
             :arguments   {"x-message-ttl" 604800000}}
  :serde    #ig/ref :serdes/edn}

 [:audiophile.rabbitmq.exchange/name :rabbitmq.exchange/events]
 {:namespace #ig/ref :env.rabbitmq/namespace
  :name      "events"}

 [:audiophile.rabbitmq.exchange/name :rabbitmq.exchange/commands]
 {:namespace #ig/ref :env.rabbitmq/namespace
  :name      "commands"}}
