[:team/create! {:team/name (sp.ctx/get ?team-name)
                :team/type (sp.ctx/get ?team-type)
                :user/id   (sp.ctx/get ?user-id)
                :spigot/->ctx {?team-id :team/id}}]
