[:workflows/setup {:team/name          ?team-name
                   :team/type          ?team-type
                   :user/id            ?user-id
                   :workflows/->result {:team/id (spigot/get ?team-id)}}
 [:team/create! {:spigot/in  {:team/name (spigot/get ?team-name)
                              :team/type (spigot/get ?team-type)
                              :user/id   (spigot/get ?user-id)}
                 :spigot/out {?team-id (spigot/get :team/id)}}]]
