[:workflows/setup {:user/id    ?user-id
                   :user/email ?email
                   :team/id    ?team-id}
 [:spigot/serial
  [:team/invite! {:team-invitation/team-id (sp.ctx/get ?team-id)
                  :team-invitation/email   (sp.ctx/get ?email)}]
  [:pubsub/publish! {:events [{:topic   [:teams (sp.ctx/get ?team-id)]
                               :payload {:event/type :team/invited
                                         :event/data {:team-invitation/team-id (sp.ctx/get ?team-id)
                                                      :team-invitation/email   (sp.ctx/get ?email)}}}
                              {:topic   [:audiophile.backend.api.pubsub.core/user (sp.ctx/get ?user-id)]
                               :payload {:event/type :team/invited
                                         :event/data {:team-invitation/team-id (sp.ctx/get ?team-id)
                                                      :team-invitation/email   (sp.ctx/get ?email)}}}]}]]]
