[:workflows/setup {:team/name ?team-name
                   :team/id   ?team-id}
 [:spigot/serial
  [:team/update! {:spigot/in {:team/id   (spigot/get ?team-id)
                              :team/name (spigot/get ?team-name)}}]
  [:pubsub/publish! {:spigot/in {:events [{:topic   [:teams (spigot/get ?team-id)]
                                           :payload {:event/type :team/updated
                                                     :event/data {:team/id   (spigot/get ?team-id)
                                                                  :team/name (spigot/get ?team-name)}}}]}}]]]
